pkgbase = 0ad-vi-lang
	pkgdesc = Vietnamese Translations for 0.A.D
	pkgver = 0.0.26
	pkgrel = 1
	url = https://github.com/khai-plays-0ad/vietnamese-translations.git
	arch = any
	license = GPL
	makedepends = jq
	makedepends = sed
	optdepends = 0ad=a26: The game
	optdepends = 0ad-data=a26: The data of the game
	source = LICENSE
	source = mod.json
	source = for_use_0ad_engine_vi.po
	source = for_use_0ad_public-civilizations_vi.po
	source = for_use_0ad_public-gui-campaigns_vi.po
	source = for_use_0ad_public-gui-gamesetup_vi.po
	source = for_use_0ad_public-simulation-auras_vi.po
	source = for_use_0ad_public-templates-buildings_vi.po
	source = for_use_0ad_public-templates-units_vi.po
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = SKIP

pkgname = 0ad-vi-lang
